<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129283136599-qhp1f23bq3n7ffq5d84aofab7k7bhf0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129283136599-qhp1f23bq3n7ffq5d84aofab7k7bhf0s</string>
	<key>API_KEY</key>
	<string>YOU API KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>129283136599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.C-Money</string>
	<key>PROJECT_ID</key>
	<string>c-money-5e06f</string>
	<key>STORAGE_BUCKET</key>
	<string>c-money-5e06f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129283136599:ios:0473ad1718f2f13a871712</string>
</dict>
</plist>